

.border {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 2px;
}

.center {
	margin: auto;
	width: auto;
	text-align: center;
	
}

a:hover {
	background-color: aqua;
}

.fieldset1 {
	width: auto;
	max-width: 600px;
		
}