table, th, td  {
	border: 1px solid black;
	padding: 15px;
	margin: auto;
	width: 80%;




	border-collapse: collapse;
}

a {
	color: black;
	display: block;
	text-align: center;
}

a:hover {
	background-color: lightskyblue;
}

#t3{
	text-align: left;
	margin: auto;
	border: none;

}
#t4 {
	width: 200px;

	border:none;
	
}


#t3 tr:nth-child(even) {
  background-color: #CCCCCC;
}