/*use display: none to hide all unneeded sections. keep header text and text in the <div id="center">  
 hide the rest 
  div:not(#center){
	 display: none} ;*/
img, footer {
	display: none;
}

#news {
	display: none;
}
#sidebar {
	display: none;
}
#nav {
	display: none;
}
#footer {
	display: none;
}


/*include URLs after each hyperlink */
a::after {
	content:" ("attr(href)")";
}

/* increase font size of the body */
body {
	font-size: 1.25em;
}

* {
	background-color: white;
	color: black;
}


