body {
	background-color: rgb(182, 182, 182);
}

#center {
	background: rgb(121, 121, 121);
    color: rgb(45, 0, 248);
    display: block;
		float: none;
		text-align: center;
    padding: 10px;
		margin-right: 40%;
		margin-left: 40%;
}

#center1 {
	background: rgb(48, 129, 184);
    color: white;
    display: block;
		float: none;
		text-align: center;
    padding: 30px;
		margin-right: 10%;
		margin-left: 10%;
		border: 1px solid black;
}

#border {
		border: 1px solid black;
		padding: 10px;
		width: 150px;
		border-collapse: collapse;
		background-color: aqua;
		
		
}

a:hover {

	color: rgb(255, 0, 0) !important;
	
}
h1 {
	text-align: center;
	font-family: "Lucida Console", "Courier New", "monospace";
	font-weight: bold;
}

.center {
	text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 32, 121);
  padding: 10px;
	background-color: lightgrey;
	border-collapse: collapse;
}

